POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=your_postgres_db_here
RABBITMQ_DEFAULT_USER=your_rabbitmq_user_here
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password_here
JWT_SECRET_KEY=your_super_secret_jwt_key_here
